#tailor-logo-text {
  font-family: sans-serif;
  font-weight: 900;
  text-shadow: 0 0 7px black;
  letter-spacing: 2px;
  font-style: italic;
}
.bg-custom-1 {
  background-color: #85144b;
}
.shadow-shape{
  text-shadow: 0 0 3px black;
}
.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

#back-color-navbar {
  background-color: #174b9a !important;
}
